<article class="page" itemscope itemtype="http://schema.org/Article">
  <div id="mobile-menu-wrap"></div>
  <%- page.content %>
  <% _.each(theme.demo_sidebar, function(section, title){ %>
    <h2 class="section-title">
      <%= title %>
    </h2>
    <div class="grid-container"></div>
    <% _.each(section, function(data, text){ %>
        
          <div class="grid-item small">
            <a href="<%- url_for('docs/' + data[1]) %>">
              <div class="preview" style="background-image: url(/assets/demos/<%= data[0] %>);"></div>
              <div class="description">
                <h4><%= text %></h4>
              </div>
            </a>
          </div>
        
    <% }) %>
  </div>
  <% }) %>
</article>
