<article class="page" itemscope itemtype="http://schema.org/Article">
  <div id="mobile-menu-wrap"></div>
  <header id="page-banner">
    <div class="outer">
      <div id="page-banner-inner" class="inner">
        <h1 id="page-title" itemprop="name"><%= page.title %></h1>
        <a
          href="https://github.com/konvajs/site/blob/master/source/<%- page.path.replace(/\.html$/, '.md') %>"
          title="Improve this doc"
          id="page-edit-link"
        ></a>
      </div>
    </div>
  </header>
  <%- page.content %>
  <% _.each(theme.demo_sidebar, function(section, title){ %>
    <h2 class="section-title">
      <%= title %>
    </h2>
    <div class="grid-container"></div>
    <% _.each(section, function(data, text){ %>
        
          <div class="grid-item small">
            <a href="<%- url_for('docs/' + data[1]) %>">
              <div class="preview" style="background-image: url(/assets/demos/<%= data[0] %>);"></div>
              <div class="description">
                <h4><%= text %></h4>
              </div>
            </a>
          </div>
        
    <% }) %>
  </div>
  <% }) %>
</article>
