<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %> <%- body %> <%- partial('_partial/footer')
    %> <%- partial('_partial/after-footer') %>
  </body>
  <script type="text/javascript">
    !(function (e, t) {
      ((e = t.createElement('script')).src =
        'https://cdn.convertbox.com/convertbox/js/embed.js'),
        (e.id = 'app-convertbox-script'),
        (e.async = true),
        (e.dataset.uuid = 'db9e320b-6d6c-49c4-ba5c-b29e6d5fc91c'),
        document.getElementsByTagName('head')[0].appendChild(e);
    })(window, document);
  </script>
</html>
